<%# app/views/pages/welcome.html.erb %>

<main class="main-section text-center text-white d-flex align-items-center justify-content-center">
  <div>
    <h1 class="display-4 fw-bold">Hi, I’m Valeriia</h1>
    <p class="lead">I'm a QA Automation Engineer</p>
    <%= link_to "View my Work", portfolio_path, class: "btn btn-primary btn-lg mt-3" %>
  </div>
</main>
